.signup_mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", serif;
    padding: 20px;
    background-color: #ffd8d8;
}
.signup_subContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border-radius: 8px;
   background-color: white;
}
.signup_logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup_logo{
    width: 20%;
    height: 20%;
}
.signup_heading{
    color: #0A4B3E;
    font-size: 30px;
    margin-bottom: 10px;    
}
.signup_subhead{
    color: #4B5563;
    font-size: 16px;
    font-weight: normal;
}
.signup_inputContainer{
    align-items: center;
    justify-content: center;
    width: 90%;
}
.signup_field{
    margin-top: 30px;
    margin-bottom: 10px;
}
.signup_inputName{
    color: #1F2937;
}
.signup_input{
    margin-top: 10px;
    width: 90%;
    height: 25px;
    padding: 10px; 
    border-radius: 8px; 
    color: #9CA3AF;
    font-size: 14px;
    font-weight: lighter;
    border: none;
    border: 1px solid  #a9adb4;
}
.signup_checkbox_field{
    margin-top: 30px;
    margin-bottom: 10px;
}
.signup_checkbox_group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 10px;
}
.custom-checkbox{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    width: 90%;
    height: 25px;
    padding: 10px; 
    border-radius: 8px; 
    color: #4B5563;
    font-size: 14px;
    font-weight: lighter;
    border: none;
    border: 1px solid  #a9adb4;
}
.signup_inputName{
    color: #1F2937; 
    font-weight: 400;
}
.custom-checkbox input {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 4px; /* Rounded corners */
    border: 1px solid #a9adb4; /* Ensure border visibility */
    appearance: none; /* Remove default checkbox styles */
    outline: none;
    background-color: white;
  }
  
  .custom-checkbox input:checked {
    background-color: #C53030; 
    border-color: #000000;
  }
  
  .custom-checkbox input:checked::after {
    content: "✔";
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.signup_textarea{
    width: 90%;
    height: 100px;
    border: 1px solid #a9adb4;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}
.signup_button_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #C53030;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}
.signup_button:hover{
    background-color: white;
    color: #C53030;
    border: 1px solid #C53030;
    transition: all 0.3s ease-in-out;
}
.signup_login_button{
    text-decoration: none;
    color: #C53030;
}
@media (max-width: 660px) {
    .signup_heading,.signup_subhead {
        text-align: center; 
        justify-content: center;
    }
}